{:paths ["src" "resources"]
 :deps {org.clojure/clojure         {:mvn/version "1.10.3"}}
 :aliases {:dev {:extra-deps {org.scicloj/clay {:mvn/version "2-alpha81"}}
                 :extra-paths ["dev" "notebooks"]}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "48c3c67"}
                               org.scicloj/clay {:mvn/version "2-alpha81"}}}}}
